<section style="background-color: black;">
    <app-header></app-header>
</section>

<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Hình ảnh</th>
                        <th scope="col">Tên món ăn</th>
                        <th scope="col">Số lượng</th>
                        <th scope="col">Thời gian nấu</th>
                        <th scope="col">Giá</th>
                        <th scope="col">Tác vụ</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td class="text-center">
                            <img src="../assets/images/product/01.png" alt="" style="width: 50px; height: 50px;">
                        </td>
                        <td>Otto</td>
                        <td class="text-center">1</td>
                        <td class="text-center">15 phút</td>
                        <td class="font-weight-bold text-danger">1.000.000 vnđ</td>
                        <td class="text-center"><button class="btn btn-primary">Xóa món ăn</button></td>
                      </tr>
                    
                    
                    </tbody>
                  </table>
            </div>
            <div class="col md-12 text-center">
                <button class="btn btn-info">Order</button>
            </div>
        </div>
    </div> 
    
</section>
