<div class="container">
    <div class="row jc-sb">
        <div class="col-md-12 col-lg-6 md-pb">
            <div class="media-content">
                <div class="title-align">
                    <h2 class="mbr-section-subtitle mbr-exbold align-left mbr-light mbr-fonts-style ">HAPPY HOUR SPECIAL</h2>
                </div>

                <h1 class="mbr-section-title pb-4 mbr-white align-left mbr-exbold mbr-fonts-style ">PIZZA BAR</h1>


                <p class="mbr-text align-left pb-3 mbr-white mbr-fonts-style ">Lorem ipsum dolor
                    sit amet, consectetur adipiscing elit. Donec ullamcorper neque dapibus ipsum semper, sit amet
                    luctus turpis porttitor. Ut libero ante, varius quis ligula.</p>
                <div class="mbr-section-btn align-left">
                    <a class="btn btn-md btn-secondary " href="https://mobirise.co">
                        <i class="fa-solid fa-cart-shopping mr-4"></i>ORDER
                        ONLINE</a></div>

            </div>
        </div>

        <div class="col-md-12 img-col col-lg-6 my-auto">

            <div class="pricebox">
                <div class="price-wrap">
                    <h4 class="pricetitle mbr-bold align-left mbr-fonts-style ">Only</h4>
                    <h3 class="price mbr-exbold align-left mbr-fonts-style ">$19</h3>
                </div>
            </div>

            <div class="mbr-figure">
                <img class="w-100" src="../assets/images/carousel/1.png" alt="Mobirise">
            </div>
        </div>

    </div>
</div>
