<div class="overlay">
</div>
<div class="container">
    <div class="row jc-sb">
        <div class="col-md-12 col-lg-12 md-pb">
            <div class="span-row align-left mbr-white pb-3">
                <span class="align-left span mbr-fonts-style display-7">BYE&nbsp;</span>
                <span class="align-left span mbr-bold mbr-fonts-style display-2">2</span>
                <span class="align-left span mbr-fonts-style display-7">&nbsp;GET&nbsp;</span>
                <span class="align-left  span mbr-bold mbr-fonts-style display-2">1</span>
            </div>
            <h1 class="mbr-section-title align-left pb-3 mbr-exbold mbr-fonts-style display-1">FREE PIZZA!</h1>
            <div class="mbr-section-btn align-left">
                <a class="btn btn-md btn-success display-4" href="https://mobirise.co">
                    <span class="fa-solid fa-cart-shopping mr-3"></span>ORDER ONLINE
                </a>
            </div>

        </div>
    </div>
</div>
