<section class="footer-1">
    <div class="container">
        <div class="row mbr-white justify-content-center">
            <div class="col-md-12 col-lg-12 pb-5 my-auto md-pb">
                <div class="logo-wrap">
                    <img class="logo" src="../assets/images/logo/logo-pizza.png" alt="Mobirise">
                </div>
            </div>
            <div class="col-md-6 align-center col-lg-3">
                <div class="item-content">
                    <h3 class="mbr-section-title pb-2 mbr-bold mbr-fonts-style display-7">Address</h3>
                    <p class="mbr-text pb-3 mbr-fonts-style display-4">570 8th Ave,
                        <br>New York, NY 10018
                        <br>United States</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 align-center">
                <div class="item-content">
                    <h3 class="mbr-section-title pb-2 mbr-bold mbr-fonts-style display-7">Book a table</h3>
                    <p class="mbr-text mbr-fonts-style display-4">Dogfood och Sliders
                        foodtruck.
                        <br>Under Om oss kan ni läsa
                    </p>
                    <h4 class="phone mbr-bold pb-5 mbr-fonts-style display-7">(850)
                        435-4155</h4>

                </div>

            </div>

            <div class="col-md-6 col-lg-3 align-center">
                <div class="item-content">
                    <h3 class="mbr-section-title pb-2 mbr-bold mbr-fonts-style display-7">Opening hours&nbsp;</h3>
                    <p class="mbr-text pb-3 mbr-fonts-style display-4">Monday – Friday
                        <br>10.00 AM – 11.00 PM
                        <br></p>
                </div>

            </div>


            <div class="col-md-6 col-lg-3 pb-5 align-center">
                <div class="item-content">
                    <h3 class="mbr-section-title pb-2 mbr-bold mbr-fonts-style display-7">Instagram feed
                    </h3>
                    <img class="feedimg" src="../assets/images/footer/01.jpg" alt="Mobirise">
                    <img class="feedimg" src="../assets/images/footer/02.jpg" alt="Mobirise">
                    <img class="feedimg" src="../assets/images/footer/03.jpg" alt="Mobirise">
                </div>

            </div>
        </div>
    </div>
</section>
