<section class="header">
  <app-header></app-header>
</section>
<section class="carousel">
  <app-carousel></app-carousel>
</section>
<section class="product mt-3">
  <h3 class="text-center">Specials Combo</h3>
  <h1 class="text-center">Our Best Sellers</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group has-search w-50 m-0" >
          <span class="fa fa-search form-control-feedback"></span>
          <input type="text" class="form-control" placeholder="Search">
        </div>

      </div>
      <div class="col-md-6 text-right" >
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-info">Fast Food</button>
          <button type="button" class="btn btn-info">Lunch</button>
          <button type="button" class="btn btn-info">Soup</button>
          <button type="button" class="btn btn-info">SlowFood</button>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-3">
        <app-product></app-product>
      </div>
    </div>
  </div>
  
</section>

<section class="video my-5">
  <app-video></app-video>
</section>

<section class="question my-5">
  <app-question></app-question>
</section>

<section class="footer mt-5">
  <app-footer></app-footer>
</section>